<GridLayout rows="auto,auto,auto,auto" margin="15">
    <TextField hint="{{ 'current_password' | L }}" [(ngModel)]="actualPassword" row="0" secure="true"></TextField>
    <TextField hint="{{ 'new_password' | L }}" [(ngModel)]="newPassword" row="1" secure="true"></TextField>
    <TextField hint="{{ 'repeat_new_password' | L }}" [(ngModel)]="confirmPassword" row="2" secure="true"></TextField>
    <GridLayout row="3" columns="*,*">
        <Button horizontalAlignment="stretch"  col="0" text="{{ 'save_change' | L }}" (tap)="save()" class="button-style"></Button>
        <Button horizontalAlignment="stretch"  col="1" text="{{ 'cancel' | L }}" (tap)="close()" class="button-style"></Button>
    </GridLayout>
</GridLayout>